.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 50px;
  height: 70px;
  font-weight: bold;
  color: darkgray;
}

.header-nav-list {
  display: flex;
}

.header-nav-item:not(:last-child) {
  margin-right: 30px;
}

.eyecatch {
  display: flex;
  align-items: center;
  position: relative;
}

.eyecatch-title-container {
  position: absolute;
  left: 20%;
  height: 70%;
  width: 50%;
}

.eyecatch-title {
  height: 50%;
}

.eyecatch-title-text {
  font-size: 5vw;
  line-height: 150%;
  color: mediumvioletred;
  font-family: 'Indie Flower', cursive;
}

.eyecatch-title-keyword {
  color: teal;
}

.eyecatch-title-ja {
  height: 50%;
}

.eyecatch-title-text-ja {
  color: mediumvioletred;
  font-size: 1.5vw;
  line-height: 150%;
  margin-top: 10%;
}

.eyecatch-title-text-ja-sub {
  font-weight: bold;
  color: darkgray;
  font-size: 1vw;
  line-height: 150%;
}

.eyecatch-img-container {
  width: 60%;
  margin: 0px 0px 0px auto;
}

.eyecatch-img {
  width: 100%;
}

.news {
  text-align: center;
}

.news-container {
  display: inline-block;
  margin: 70px 0px;
}

.news-heading {
  text-align: left;
  margin-bottom: 40px;
}

.news-title-text {
  margin-bottom: 10px;
  color: mediumvioletred;
  font-weight: bold;
  font-family: 'Indie Flower', cursive;
}

.news-title {
  color: gray;
  font-size: 1.8vw;
}

.news-list-container {
  border-top: 1px solid;
  border-bottom: 1px solid;
  border-color: darkgray;
  width: 50vw;
}

.news-list {
  list-style: none;
  padding-top: 10px;
  padding-bottom: 30px;
}

.news-item {
  display: flex;
  padding: 20px 0px;
  border-bottom: 1px solid;
  border-color: darkgray;
  color: gray;
}

.news-date {
  padding-right: 30px;
}

.news-category {
  padding-right: 30px;
}